@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap");

// FONTS
$font-principal: "Chakra Petch", sans-serif;
$font-secundaria: "Montserrat", sans-serif;
// FONTS

$principal-color: #151028;
$secundary-color: #201740;
$terciary-color: #2b1e59;
$hover-color: #151028;
$light: #ffff;
$orange: #ffa600;
$orange-hover: #ffcc00;
