.calc {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calc__container {
  width: 90%;
  height: 90%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: #fff;
  background-color: #17181a;
  border-radius: 3rem;
  gap: 0.5rem;
  padding: 1.5rem;

  .button {
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border-radius: 2rem;
    background-color: #3e3f42;

    &:hover {
      background-color: #f0f7ee;
      color: #000;
    }
  }

  .output {
    max-width: 100%;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .display {
      background-color: transparent;
      color: #fff;
      border: none;
      font-size: 3rem;
      text-align: right;
      height: 8rem;
    }

    .display:focus {
      background-color: transparent;
      border: none;
    }
  }
}
