.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #00b4d8;
    }
  }
}
